
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
  background: linear-gradient(90deg, white,rgba(165, 207, 255, 0.596));
}
div.header {
  padding-top: 10px;
  margin-bottom: 20px;
  margin-left: 0;
  position: relative;
  
  width: 100%;
  height: 30px;
  height: auto;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 30px;
  vertical-align: center;
}
ul {
  
}
p {
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
 display: inline;
 letter-spacing: 1em;
}
i {
  display: inline;
  float: right;
  margin: 30px;
  
}
div.table {
  padding-left: 20px;
  
  width: 40%;
 
  text-align: center;
  
 
  border-bottom: rgb(0, 0, 0) solid;
}
table {
 
 width: 100%;
  padding: 10px;
 
}
td {
  text-align: right;
  padding-right: 20px;
}

img {
  
  width: 100%;
  max-width: 600px;
  float: inline-end;
  margin-left: auto;
  margin-right: auto;
  
  
}
div {
  
  background: rgba(253, 253, 253, 0.199);
}
div.bottom {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  width: 100%;
  width: 400px;
  height: 50px;

  background-color: rgb(0, 0, 0);
  transition-duration: 1s;
  border-left: 0px;
  vertical-align: middle;
  color: white;
}
p.bottom {
  margin: 0%;
}
th {
  border-right: 2px solid black;
}
td {
  text-align: right;
}
tr:hover {
  background-color: rgb(255, 255, 255);
}

div.rightside {
  background: #000;
  color: blanchedalmond;
  width: 30%;
  float: right;
  margin-right: 5%;
  max-width: 600px;
  align-content: center;
  clear: both;
  
}
p.tldr {
  margin-left: 10px;
  line-height: 60px;
  
  

  
}
h3 {
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  
  margin: 0px;
  border-bottom: black  solid;
  
}
h3.tldr {
  display: inline;
  

  font-size: 50px;
  padding: 0%;
  background-color: black;
}

html,
body {
  height: 100%;
  margin: 0;
}
div.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  background-color: transparent;
}
a {
  color: black;
}
div.bottom:hover {
  background-color: rgba(255, 255, 255, 0);
}
ul {
  white-space: ;
}

div.content {
 
  margin-bottom: 50px;
  
  
}

div.contentwrap {
  
  margin-left: 5%;
  
  min-width: 400px;
  text-align: ;
  margin-right: 50%;
  background-color: rgba(255, 255, 255, 0.027);
  width: 50%;
  
    
}
div.contentwrap:first-child {
  float: left;
}
div.rightside:hover {
  width: 30%;
  
}